.card { border: 1px solid #f1f3f5; border-radius: 8px; overflow: hidden; display: flex; flex-direction: column; }
.imageWrapper 
{ position: relative; 
    background-color: #f8f9fa; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 8px; 
}
.imageWrapper img 
{ width: 100px; 
    height: 100px; 
    object-fit: cover; 
}
.heartButton { position: absolute; top: 8px; right: 8px; background: none; border: none; cursor: pointer; }
.info { padding: 12px; flex-grow: 1; }
.productName 
{ 
    font-size: 0.8rem; 
    font-weight: 600; 
    color: #212529; 
    height: 2rem; 
    line-height: 1rem; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
}
.priceContainer { display: flex; align-items: baseline; gap: 8px; margin-top: 8px; }
.discount { color: #e57373; font-weight: bold; font-size: 1rem; }
.originalPrice { text-decoration: line-through; color: #adb5bd; font-size: 0.8rem; }
.finalPrice { font-size: 1rem; font-weight: bold; margin-top: 4px; }
button.addToCartButton {
width: calc(100% - 24px);
margin: 0 12px 12px;
padding: 10px;
border: 1px solid #ced4da;
background-color: #fff;
color: #212529; /* 텍스트 색상 추가 */
border-radius: 8px;
cursor: pointer;
font-weight: 600;
}